<!DOCTYPE html>
<%- include("../partials/head") %>
<html lang="en">
  <%- include("../partials/header") %>
  <body>
    <h4>Hello from server side rendering</h4>
    <a href="/users">users</a>
  </body>
  <%- include("../partials/footer") %>
</html>
